
# Node
node_modules/
.next/

# Env
.env
.env.*

# DB
*.db

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Build
out/
dist/

# Misc
coverage/

# Prisma
prisma/migrations/*/migration.sql
!prisma/migrations/*/

# VSCode
.vscode/

# Others
package-lock.json
